<div>
	<h1>About</h1>
	<b>SD News</b> is a Reformed theology, philosophy, apologetics, culture, evangelism and church planting news aggregation site, ranked by readers, and brought to you by <b><a href="http://www.sensusdivinitatis.com">Sensus Divinitatis Publishing</a></b>.<br/><br/>
	Our goal is gather news, and links in general, that are of interest to the Reformed community.<br/><br/>
	<!--Because this is an early beta version, and in an effort to maintain the integrity of the site we are accepting new members on an invitation-only basis.<br/><br/>
	If you'd like an invitation, please send an email to eric.farkas@<span class="displaynoemail"></span>sensusdivinitatis.com-->
</div>