<h1>Contact</h1>
<p>All inquiries can be directed to: eric.farkas@<span class="displaynoemail">null</span>sensusdivinitatis.com</p>
<p>This site is curated and administered by <a href="http://twitter.com/ericfarkas">Eric Farkas</a> for <a href="http://www.sensusdivinitatis.com">Sensus Divinitatis Publishing</a>.