<h1>Submission Guidelines</h1>
<h2>Q: What types of stories are acceptable?</h2>
<p>A: You should submit any story that deals with Reformed Christianity in general. That includes stories dealing with (in no particular order):
<ul>
	<li>theology (almost any type of theology topic is acceptable with some exceptions)</li>
     <li>philosophy (including topics dealing with Reformed epistemology, ethics, metaphysics, etc.)</li>
     <li>apologetics (from a Reformed perspective)</li>
     <li>evangelism (again, from a Reformed/Calvinist perspective)</li>
     <li>church planting (stories that might be of interest to church planters)</li>
     <li>etc.</li>
</ul>
<p>As a general rule of thumb, if you're uncertain about whether you should submit a story, just ask yourself: "Would John Calvin find this post interesting?"; If the answer is Yes, please post it!</p>

<h2>Q: What types of stories are unacceptable and will be deleted?</h2>
<p>A: Almost any story of the type not listed above. That includes purely political stories (how politics impacts the church is fine), and of course anything profane or spam-ish.  As the site evolves this list will become more comprehensive.
	
<h2>Q: How to pick a GREAT title of the story</h2>

<p>A: Please don&#8217;t do things to make titles stand out, like using uppercase or exclamation points, or adding a parenthetical remark saying how great an article is. It&#8217;s implicit in submitting something that you think it&#8217;s important.</p>
<p>Whenever possible, try to reuse the headline that the original article uses, but strip out unnecessary fluff around the title. For example, if the original title of the story that you&#8217;re trying to submit looks like this:</p>
<blockquote><b>Peter J. Leithart &raquo; Blog Archive &raquo; Justification and nature, again</b></blockquote>
<p>strip out all the unnecessary stuff around the headline and submit it as:
<blockquote><b>Justification and nature, again</b></blockquote>
<p>If you submit a link to a video or pdf, please warn us by appending (video) or (pdf) to the title.</p>
<p>Please submit the original source. If a blog post reports on something they found on another site, submit the latter.</p>
<p>Please reuse the original story headline for the title. If it&#8217;s incredibly bad or confusing or misleading, you may rewrite it.</p>
<p>Please don&#8217;t editorialize the titles  and try to inject your bias - try to remain as neutral or objective as possible.</p>
<p>Don&#8217;t abuse the text field in the submission form to add commentary to links. The text field is for starting discussions. If you&#8217;re submitting a link, put it in the URL field. If you want to add initial commentary on the link, write a blog post about it and submit that instead.</p>

<h2>Q: What about comments?</h2>
<p>Be civil. Don&#8217;t say things you wouldn&#8217;t say in a face-to-face conversation.</p>
<p>When disagreeing, please reply to the argument instead of calling names. E.g. &#8220;That is an idiotic thing to say; 1 + 1 is 2, not 3&#8221; can be shortened to &#8220;1 + 1 is 2, not 3.&#8221;</p>
<p>Please don&#8217;t sign comments, especially with your url. They&#8217;re already signed with your username.</p>
<p>Resist complaining about being down-modded. It never does any good, and it makes boring reading.</p>  