<% 
	if @page == 0
		@counter = 1
	else
		@counter = ((@page - 1) * 25) + 1 
	end
-%>

<% @items.each do |i| -%>
	<%= render i %>
	<% @counter = @counter + 1 -%>
<% end -%>
<% @counter = @counter + 1 -%>
<center><div class="pagination"><%= will_paginate @items %></div></center>